body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-brand{
  color: white;
}
.card-img-top{
  width: 250px;
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}
